<div class="tabs">
    [% IF section == "activities" %]
        [% INCLUDE conversations_tab %] |
        [% INCLUDE followed_tab %] |
        [% INCLUDE all_tab %]
    [% ELSIF section == "signals" %]
        [% INCLUDE all_tab %] |
        [% INCLUDE followed_tab %] |
        [% INCLUDE mine_tab %]
    [% END %]
</div>

[% BLOCK mine_tab %]
    [% IF mine %]
        <span class="current">[% loc("Mine") %]</span>
        (<a href="/m/[% section %]?mine=1">[% loc("refresh") %]</a>)
    [% ELSE %]
        <a href="/m/[% section %]?mine=1">[% loc("Mine") %]</a>
    [% END %]
[% END %]

[% BLOCK all_tab %]
    [% IF all %]
        <span class="current">[% loc("All") %]</span>
        (<a href="/m/[% section %]?all=1">[% loc("refresh") %]</a>)
    [% ELSE %]
        <a href="/m/[% section %]?all=1">[% loc("All") %]</a>
    [% END %]
[% END %]

[% BLOCK conversations_tab %]
    [% IF all || followed %]
        <a href="/m/[% section %]">[% loc("My Conversations") %]</a>
    [% ELSE %]
        <span class="current">[% loc("My Conversations") %]</span>
        (<a href="/m/[% section %]">[% loc("refresh") %]</a>)
    [% END %]
[% END %]

[% BLOCK followed_tab %]
    [% IF followed %]
        <span class="current">[% loc('People I follow') %]</span>
        (<a href="/m/[% section %]?followed=1">[% loc("refresh") %]</a>)
    [% ELSE %]
        <a href="/m/[% section %]?followed=1">[% loc("People I follow") %]</a>
    [% END %]
[% END %]
