[% USE decorate %] 
<div class="[% IF bottom %]bottom[% END %] globalnav">
[% IF user.is_guest %]
    [% IF ws %]
        <a href="/challenge?/m/page/[% ws.name %]/[% page.uri %]">[% loc('Log in') %]</a>
    [% ELSE %]
        <a href="/challenge?/m/workspace_list">[% loc('Log in') %]</a>
    [% END %]
[% ELSE %]


    [% IF bottom %]
        [% FILTER decorate('lite_nav_activities_bottom') %]
        [% END %]
    [% ELSE %]
        [% FILTER decorate('lite_nav_activities') %]
        [% END %]
    [% END %]

    [% IF section == 'activities' %]
        <span class="current">[% loc('Activity') %]</span>
    [% ELSE %]
        <a id="[% IF bottom %]bottom-[% END %]mobile-activities" href="/m/activities">[% loc('Activity') %]</a>
    [% END %]
        |

    [% IF bottom %]
        [% FILTER decorate('lite_nav_workspaces_bottom') %]
        [% END %]
    [% ELSE %]
        [% FILTER decorate('lite_nav_workspaces') %]
        [% END %]
    [% END %]

    [% IF section == 'workspaces' %]
        <span class="current">[% loc('Workspaces') %]</span>
    [% ELSE %]
        <a id="[% IF bottom %]bottom-[% END %]mobile-workspace_list" href="/m/workspace_list">[% loc('Workspaces') %]</a>
    [% END %]

    [% IF bottom %]
    | 
    <a href="/nlw/submit/logout?redirect_to=/m/login">[% loc('Log out') %]</a>
    [% END %]
[% END %]
</div>
