[% USE decorate %] 
[% IF bottom %]
<div data-role="footer">
[% ELSE %]
<div data-role="header">
[% END %]
<div class="[% IF bottom %]bottom[% END %]" data-role="navbar">
<ul>
[% IF user.is_guest %]
    [% IF ws %]
        <li><a href="/challenge?/m/page/[% ws.name %]/[% page.uri %]">[% loc('Log in') %]</a></li>
    [% ELSE %]
        <li><a href="/challenge?/m/workspace_list">[% loc('Log in') %]</a></li>
    [% END %]
[% ELSE %]

    [% IF bottom %]
<li>
    <a rel="external" href="/nlw/submit/logout?redirect_to=/m/login">[% loc('Log out') %]</a>
</li>
[% ELSE %]
<li><div style="background: #17417F; height: 34px">
        <img src="[% skin_uri('images/miki-logo.png') %]" style="margin: 2px; max-width: 98%; max-height: 28px">
</div></li>
    [% END %]
    [% IF bottom %]
        [% FILTER decorate('lite_nav_activities_bottom') %]
        [% END %]
    [% ELSE %]
        [% FILTER decorate('lite_nav_activities') %]
        [% END %]
    [% END %]

<li>
    [% IF section == 'activities' %]
        <a class="ui-btn-active current">[% loc('Activity') %]</a>
    [% ELSE %]
        <a id="[% IF bottom %]bottom-[% END %]mobile-activities" href="/m/activities">[% loc('Activity') %]</a>
    [% END %]
</li>

    [% IF bottom %]
        [% FILTER decorate('lite_nav_workspaces_bottom') %]
        [% END %]
    [% ELSE %]
        [% FILTER decorate('lite_nav_workspaces') %]
        [% END %]
    [% END %]

<li>
    [% IF section == 'workspaces' %]
        <a class="ui-btn-active current">[% loc('Workspaces') %]</a>
    [% ELSE %]
        <a id="[% IF bottom %]bottom-[% END %]mobile-workspace_list" href="/m/workspace_list">[% loc('Workspaces') %]</a>
    [% END %]
</li>

[% END %]
</ul>
</div>
</div>
[% IF !bottom %]

[% END %]
