[%# @COPYRIGHT@ -%]
[%- USE decorate -%]
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>[% "$ws.title : " IF ws.title %][%- title | html %]</title>
        <link rel="apple-touch-icon" href="/static/skin/common/images/apple-touch-icon.png"/>
        [% IF enable_jquery_mobile %]
        <link rel="stylesheet" href="/static/skin/common/css/jquery.mobile-1.0a2.min.css" />
        <script src="/static/skin/common/javascript/jquery-1.4.4.min.js"></script>
        <script>
        $(document).bind("mobileinit", function(){
            // Avoid JS error on our default welcome screen
            window.Socialtext = window.Socialtext || {};

            // Disable Ajax link transitions under Selenium.
            var isSelenium = (
                (typeof seleniumAlert != 'undefined' && seleniumAlert)
                || (typeof Selenium != 'undefined' && Selenium)
                || ((typeof window.top != 'undefined' && window.top)
                    && (window.top.selenium_myiframe
                        || window.top.seleniumLoggingFrame)
                || ((typeof window.top.opener != 'undefined' && window.top.opener)
                    && (window.top.opener.selenium_myiframe
                        || window.top.opener.seleniumLoggingFrame))
                )
            );

            $.extend($.mobile, {
                defaultTransition: 'fade',
                ajaxFormsEnabled: false,
                ajaxLinksEnabled: false, // !isSelenium,
                gradeA: function(){
                    return(
                        $.support.mediaquery
                            && ($.browser.webkit || $.browser.mozilla)
                    );
                }
            });

            if ($.support.mediaquery && ($.browser.webkit || $.browser.mozilla)) {
                // {bz: 4791}: Tapping an item in a list should highlight the item
                // with the same styling as "mousedown".
                $(".ui-btn").live({
                    click: function() {
                        var theme = $(this).attr( "data-theme" );
                        $(this).removeClass( "ui-btn-up-" + theme ).addClass( "ui-btn-down-" + theme );
                    }
                });

                // {bz: 4848}: Make clicking relative links in TOCs scroll
                // to the section header, instead of triggering hashchange.
                $('div.wiki a[href^="#"]').live({
                    click: function(e) {
                        e.stopImmediatePropagation();
                        var offset = $($(this).attr('href')).offset();
                        if (offset) {
                            window.scrollTo(0, offset.top);
                        }
                        return false;
                    }
                });
            }
        });
        </script>
        <script src="/static/skin/common/javascript/jquery.mobile-1.0a2.min.js"></script>
        [% END %]
        [% INCLUDE element/css_links %]
    <meta name = "viewport" content = "width=device-width, minimum-scale=1, maximum-scale=1">
    </head>
    <body>
        [% FILTER decorate('body_begin') %]
        [% END %]
        <div style="display:none">
            <strong>[% warning || loc("Warning: Stylesheets are not enabled in your mobile device. In order to properly view Socialtext Mobile, you will need to enable stylesheets in your browser options.") %]</strong>
            <br/>
        </div>
        <div data-role="page">
