[%# @COPYRIGHT@ -%]
[%- USE decorate -%]
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>[% "$ws.title : " IF ws.title %][%- title | html %]</title>
        <link rel="apple-touch-icon" href="/static/skin/common/images/apple-touch-icon.png"/>
        <link rel="stylesheet" href="/static/skin/common/css/jquery.mobile-1.0a2.min.css" />
        <script src="/static/skin/common/javascript/jquery-1.4.4.min.js"></script>
        <script>
        $(document).bind("mobileinit", function(){
            if (/\/login\b/.test(location.href)) {
                $.extend($.mobile, { ajaxFormsEnabled: false });
            }
            $.extend($.mobile, { defaultTransition: 'fade' });
            $.extend($.mobile, { ajaxFormsEnabled: false });
            $.extend($.mobile, { gradeA: function(){
                return(
                    $.support.mediaquery
                        && ($.browser.webkit || $.browser.mozilla)
                );
            }});
        });
        </script>
        <script src="/static/skin/common/javascript/jquery.mobile-1.0a2.min.js"></script>
        [% INCLUDE element/css_links %]
    <meta name = "viewport" content = "width = device-width">
    </head>
    <body>
        [% FILTER decorate('body_begin') %]
        [% END %]
        <div style="display:none">
            <strong>[% warning || loc("Warning: Stylesheets are not enabled in your mobile device. In order to properly view Socialtext Mobile, you will need to enable stylesheets in your browser options.") %]</strong>
            <br/>
        </div>
        <div data-role="page">
