[%# @COPYRIGHT@ -%]
[% USE html_encode %]
[% USE Number.Format %]
[%- USE decorate -%]

[%- IF rows.size %]
<ul data-role="listview">
[%- FOREACH row = rows %]
    [% row = load_row_times(row) %]
    <li>
        <a title="[% row.Subject || row.name | html %]"
            href="/m/page/[% row.workspace_name || ws.name %]/[% row.page_id %]">[% row.Subject || row.name | html %]
        </a>
        [% IF row.last_edit_time %]
        <span class="ui-li-count">
            [% row.datetime_for_user %]
        </span>
        [% END %]
    </li>
[% END -%]
</ul>
[% END -%]
