[% IF base_uri.match('\?'); char = '&'; ELSE; char = '?'; END %]
<div class="paging">
    [% IF pagenum > 0 %]
    <a href="[% base_uri %][% char %]page=[% pagenum - 1 %]">[% loc('&lt;&lt; Previous page') %]</a> |
    <a href="[% base_uri %]">[% loc('First page') %]</a> |
    [% ELSE %]
    <span>[% loc('&lt;&lt; Previous page') %]</span> |
    <span>[% loc('First page') %]</span> |
    [% END %]

    [% IF more %]
    <a href="[% base_uri %][% char %]page=[% pagenum + 1 %]">[% loc('Next page &gt;&gt;') %]</a>
    [% ELSE %]
    <span>[% loc('Next page &gt;&gt;') %]</span>
    [% END %]
</div>
