[% IF ws %]
    <div class="[% class %] subnav" data-role="navbar">
    <ul>
        [% IF section == 'workspace' %]
        <li><a id="mobile-workspace-home" class="current ui-btn-active">[% ws.title %]</a></li>
        [% ELSE %]
        <li><a id="mobile-workspace-home" href="/m/page/[% ws.name %]/">[% ws.title %]</a></li>
        [% END %]
        [% IF section == 'recent_changes' %]
        <li><a id="mobile-workspace-changes" class="current ui-btn-active">[% loc("What's new") %]</a></li>
        [% ELSE %]
        <li><a id="mobile-workspace-changes" href="/m/changes/[% ws.name %]/">[% loc("What's New") %]</a></li>
        [% END %]
        [% IF section == 'tags' %]
        <li><a id="mobile-workspace-tags" class="current ui-btn-active">[% loc('Tags') %]</a></li>
        [% ELSE %]
        <li><a id="mobile-workspace-tags" href="/m/tag/[% ws.name %]/">[% loc('Tags') %]</a></li>
        [% END %]
        [% IF section == 'search' %]
        <li><a id="mobile-workspace-search" class="current ui-btn-active">[% loc('Search') %]</a></li>
        [% ELSE %]
        <li><a id="mobile-workspace-search" href="/m/search/[% ws.name %]/">[% loc('Search') %]</a></li>
        [% END %]
    </div>
        </ul>
[% IF page AND page.metadata.Type == 'wiki' %]
        <div data-role="header" data-position="inline" data-theme="d">
            <h4>[% page.title %]</h4>
            [% IF user_can_edit_page %]
            <a data-role="button" class="ui-btn-right" data-icon="arrow-d" href="/m/page/[% ws.name %]/[% page.uri %]?action=edit">[% loc('Edit') %]</a>
            [% ELSIF user_can_join_to_edit_page %]
            <a data-role="button" class="ui-btn-right" data-icon="plus" href="/m/page/[% ws.name %]/[% page.uri %]?action=join_to_edit">[% loc('Join to Edit') %]</a>
            [% END %]

        [% IF cancel_edit %]
            <a data-role="button" class="ui-btn-right" data-icon="back" href="/m/page/[% ws.name %]/[% cancel_edit %]">[% loc('Cancel') %]</a>
        [% END %]
        </div>
        [% END %]
[% END %]
