[% IF ws %]
    <div class="[% class %] subnav">
        [% IF section == 'workspace' %]
        <span class="current">[% ws.title %]</span>
        [% ELSE %]
        <a href="/m/page/[% ws.name %]/">[% ws.title %]</a>
        [% END %]
        [% IF section == 'recent_changes' %]
        | <span class="current">[% loc("What's new") %]</span>
        [% ELSE %]
        | <a href="/m/changes/[% ws.name %]/">[% loc("What's New") %]</a>
        [% END %]
        [% IF section == 'tags' %]
        | <span class="current">[% loc('Tags') %]</span>
        [% ELSE %]
        | <a href="/m/tag/[% ws.name %]/">[% loc('Tags') %]</a>
        [% END %]
        [% IF section == 'search' %]
        | <span class="current">[% loc('Search') %]</span>
        [% ELSE %]
        | <a href="/m/search/[% ws.name %]/">[% loc('Search') %]</a>
        [% END %]
        [% IF page AND !page_locked_for_user %]
            | <a href="/m/page/[% ws.name %]/[% page.uri %]?action=edit">[% loc('Edit') %]</a>
        [% END %]

        [% IF cancel_edit %]
            | <a href="/m/page/[% ws.name %]/[% cancel_edit %]">[% loc('Cancel Edit') %]</a>
        [% END %]
    </div>
[% END %]
