/**
 * Global Navigation

// Override grid sizes so they have no padding
@for $i from 1 through 12
  .grid_#{$i}
    width: #{$i * 40}px

.navGrid
  margin: 0
  height: 50px
  position: relative
.navItem, .navLink
  height: 45px

a
  &:visited, &:active
    color: #fff
  color: #fff

.last .navLink
  border-right: 2px solid #000

.navLink
  border-left: 2px solid #000
  a
    top: 10px
    position: relative
    color: #ccc
    font-size: 13px
    display: block
    padding: 5px 0 0 43px
    font-weight: bold
    text-decoration: none
    background: transparent no-repeat 10px 0
    &.dashboard
      background-image: url(#{$static}/images/globalNav/home-gray-25.png)
    &.spaces
      background-image: url(#{$static}/images/globalNav/spaces-gray-25.png)
    &.activities
      background-image: url(#{$static}/images/globalNav/activities-gray-25.png)
    &.groups
      background-image: url(#{$static}/images/globalNav/groups-gray-25.png)
    &.people
      background-image: url(#{$static}/images/globalNav/people-gray-25.png)
  .selected .navLink
    background-color: #000
    background: rgb(0, 0, 0)
    background: rgba(0, 0, 0, 0.3)
    filter: alpha(opacity = 30)

.buttons
  float: right
  .button
    top: 15px
    position: relative
    margin-left: 5px
  .editMode
    display: none

.navGrid
  .staticUnderline, .underline
    height: 3px
    background-color: #fff
    border-top: 2px solid #c6b93b
    width: 100%
  &:hover .underline
    background-color: #c6b93b

.selected .underline
  background-color: #c6b93b

// Drop downs
.navGrid
  .scrollingNav
    color: #ccc
    display: none
    position: absolute
    top: -5px
    position: relative
    width: 118px
    z-index: 1000
    border-left: 2px solid #000
    border-right: 2px solid #000
    border-bottom: 2px solid #000
    background: url(#{$static}/images/background.png)
    overflow-y: auto
    overflow-x: hidden
    -webkit-overflow-scrolling: touch
    div.has_icons li
      line-height: 30px
      height: 30px
    .navListItem
      margin: 3px
  &:hover, &.hover
    .scrollingNav
      display: block
