/**
 * Global Navigation

// paddingless positioning of the global nav
.navGrid
  height: 50px
  position: relative
  margin: 0
  padding: 0 $margin
  .navItem, .navLink
    height: 45px
    position: absolute
    border-left: 2px solid #000
    left: 0
    width: 100%
  &:hover .underline
    background-color: #c6b93b

.staticUnderline, .underline
  height: 3px
  position: absolute
  top: 45px
  left: 0
  background-color: #fff
  border-top: 2px solid #c6b93b
  width: 100%

.selected .underline
  background-color: #c6b93b

a
  &:visited, &:active
    color: $foreground_color
  color: $foreground_color

.navLink
  a
    top: 10px
    position: relative
    color: $foreground_color
    font-size: 13px
    height: 25px // big enough for the icons
    display: block
    padding: 5px 0 0 43px
    font-weight: bold
    text-decoration: none
    background: transparent no-repeat 10px 0
    &.dashboard
      background-image: url(#{$static}/images/icons/#{$foreground_shade}/home-25.png)
    &.spaces
      background-image: url(#{$static}/images/icons/#{$foreground_shade}/spaces-25.png)
    &.activities
      background-image: url(#{$static}/images/icons/#{$foreground_shade}/activities-25.png)
    &.groups
      background-image: url(#{$static}/images/icons/#{$foreground_shade}/groups-25.png)
    &.people
      background-image: url(#{$static}/images/icons/#{$foreground_shade}/people-25.png)
  .selected .navLink
    background-color: #000
    background: rgb(0, 0, 0)
    background: rgba(0, 0, 0, 0.3)
    filter: alpha(opacity = 30)

.buttons
  float: right
  margin-top: 9px
  .editMode
    display: none

// Drop downs
.navGrid
  .navList
    width: 100%
    position: absolute
    top: 42px
    left: 0
    padding: 3px
    color: $foreground_color
    display: none
    z-index: 1000
    -webkit-overflow-scrolling: touch
    margin: 0
    border-left: 2px solid #000
    border-right: 2px solid #000
    border-bottom: 2px solid #000
    background: $background_color
    .navListItems
      max-height: 300px
      overflow-y: auto
      overflow-x: hidden
  &:hover, &.hover
    .navList
      display: block
