@import reset.sass
@import text.sass

$width: 1080px
$margin: 10px
$containers: 12, 16, 24
@import grids.sass

@mixin opacity($percent)
  filter: alpha(opacity = $percent) // IE
  opacity: ($percent / 100)

@mixin gradient($from, $to)
  background-color: $from
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from($from), to($to))
  background: -moz-linear-gradient(top,  $from,  $to)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$from}, endColorstr=#{$to})

body
  min-width: $width
  background: $background_color url(#{$static}/images/background.png) $background_image_tiling $background_image_position
  font-size: 11px
  font-family: $body_font
  color: #333

a
  color: $primary_color
  text-decoration: none
  &:hover
    text-decoration: underline
  &.button, &.expander
    margin: 0 5px
    padding: 3px 5px
    white-space: nowrap
    color: #eee
    text-decoration: none
    border-radius: 5px
    border: 1px solid #ccc
  &.button
    background-color: $primary_color
    &:hover
      @include opacity(70)
  &.expander
    color: #000
    @include gradient(#f9f9f9, #e3e3e3)
    &:hover
      border: 1px solid #999
    .expanded
      display: none

// When we have multiple buttons, space them out
.buttons .button
  margin-right: 10px

.hidden
  display: none

input
  border-radius: 5px
  border: 1px solid #ccc
  &.disabled
    background-color: #eee
    color: #666
  &.hidden
    /* For hiding submit buttons
    display: block
    height: 0
    width: 0
    position: absolute
    @include opacity(0)
  &.initial
    color: #999

select
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  border: 1px solid #ccc

/**
 * Headings

h1, h2, h3, h4
  color: #333
  padding: 0
  margin: 0

h1
  font-size: 18px

h2
  font-size: 16px

h3
  font-size: 14px

h4
  font-size: 13px

/**
 * Some helpful classes

/* padding

@for $i from 1 through 50
  .pad#{$i}
    padding: #{$i}px
  .vpad#{$i}
    padding-top: #{$i}px
    padding-bottom: #{$i}px
  .hpad#{$i}
    padding-left: #{$i}px
    padding-right: #{$i}px

.superscript
  font-size: small
  vertical-align: top

.center
  text-align: center
.right
  text-align: right
.left
  text-align: left

.error
  color: #be3b3f

.opaque
  @include opacity(50)

/**
 * Text tabs (top content widgets, etc...)

.tabs
  text-align: center
  padding: 5px 0
  border-bottom: 1px solid #ccc
  a
    margin: 0 5px
  span
    margin: 0 5px
    font-weight: bold

.avatar img
  border: 1px solid #ccc

/**
 * Progress Bar

.progressbar
  border: 1px solid #ccc
  height: 17px
  position: relative
  border-radius: 3px
  .value
    background-color: $secondary_color
    height: 17px
  .text
    position: absolute
    top: 1px
    left: 5px
    color: #fff

/* Search boxes */
.searchText
  padding-left: 18px
  background: white url(#{$static}/images/icons/search-darker-15.png) no-repeat 0 0px

header
  height: 100px
  background: $header_color url(#{$static}/images/header.png) $header_image_tiling $header_image_position
  /* Drop shadow
  -moz-box-shadow: 3px 3px 4px #000000
  -webkit-box-shadow: 3px 3px 4px #000000
  box-shadow: 3px 3px 4px #000000
  /* For IE 8 XXX (Untested)
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"
  .title
    font-family: $header_font
    font-size: 35px
    padding-top: 25px
    color: #fff
  a
    color: $primary_color
    text-decoration: none
  .topLinks
    margin-top: 30px
    text-align: right
  .searchForm
    margin-top: 10px
    text-align: right
    .searchText
      width: 100px


.contentWrapper
  width: $width
  margin-left: auto
  margin-right: auto
  padding-left: 10px

.bodyContent
  padding: 10px 0
  background-color: #ffffff

/**
 * Footer

footer
  color: #ccc
  font-size: 13px
  line-height: 19px
  height: 40px
  position: relative
  a
    color: #c6b93b
  .socialtext
    margin-top: 7px
  .tagline
    margin-top: 10px
  .links
    margin-top: 10px
    text-align: right

.divider
  height: 10px
  margin: 0 10px
  border-right: 1px solid #ccc

/**
 * Widgets

.widgetColumn
  min-height: 300px
  -height: 300px
  .widgetHeader
    height: 20px
  .draggable .widgetHeader
    cursor: move
  .widgetTitle
    float: left
  .placeholder
    border: 3px dotted #ccc

.widget
  margin-bottom: 15px
  .content
    border-top: 1px solid #ccc
  .buttons
    float: right
    .close, .settings, .fix
      display: block
      float: right
      width: 12px
      height: 12px
      margin: 5px
    .close:hover, .settings:hover, .fix:hover
      @include opacity(70)
    .close
      background: transparent url(#{$static}/images/icons/close-darker-12.png) no-repeat top left
    .settings
      background: transparent url(#{$static}/images/icons/configure-darker-12.png) no-repeat top left
    .fix
      /* XXX

/**
 * Dropdowns

ul
  &#network-list, &#signal_network-list
    width: 150px
  &.dropdownOptions
    position: absolute
    display: none
    z-index: 3500
    /* above the signalthis iframe
    display: block
    background-color: #FFF
    padding: 0
    margin: 0
    text-align: left
    width: 100px
    border: 1px solid black
    border-top: none
    li
      display: block
      list-style: none
      margin: 0
      padding: 3px
      border-top: 1px solid black
      overflow: hidden
    a
      color: #0E93D8
      white-space: nowrap
      /* Styles that are inherited in widgets:
      font-size: 11px
      font-family: arial, helvetica, sans-serif
    li
      &:hover, &.hover
        background-color: #F4F0CB
      &:hover a, &.hover a
        text-decoration: underline
      &.selected
        background-color: #F4F0CB
      &.disabled
        background-color: #FFF
        a
          color: #CCC
          cursor: default
          text-decoration: none
          &:hover
            text-decoration: none

div.users ul
  list-style-type: none
  padding: 0
  li
    position: relative
    padding: 5px 0
    span
      margin-left: 14px
      color: black

.notice
  background-color: #FFFEDF
  border: 1px solid #759FB1
  padding: 4px
  text-align: center
  display: none
  .error
    color: #D00
  pre.error
    text-align: left
    margin: auto
    width: 50%

#globalNav
  padding-left: 10px
  @import globalNav.sass

.activitiesWidget
  @import activities.sass

.inlineWidget
  @import inline.sass

.dialogDisabled
  background: transparent url(#{$static}/images/ajax-loader.gif) no-repeat center
  position: absolute

// Dialog boxes
.ui-dialog-content
  .fieldTitle
    float: left
    width: 125px
  .field
    float: left
    input
      width: 250px

#settings-main
  padding: 3px
  hr
    margin: 20px 0px
  th
    font-weight: bold
    padding: 5px
  td
    padding: 5px
  th
    &.first
      padding-left: 0px
    &.last
      padding-right: 0px
  td.last
    padding-right: 0px
  p.error
    margin-bottom: 3px
  .input-label
    padding-top: 5px
    text-align: right

#settings-sidebar
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  border: 1px solid #ccc
  background-color: #dfebed
  .pad
    padding: 0px 3px
  .top
    padding-left: 5px
  .header
    cursor: pointer
    padding-left: 25px
  ul
    padding: 0px
    margin: 0px

@import control.sass
@import jquery-ui.sass
