/* Mobile widget CSS overrides

body.mobile
  text-align: left
  background: none
  font-size: 15px

.mobile
  .topnav
    padding: 1px
    padding-top: 0px
    padding-left: 0px
    a
      color: white
      text-decoration: none
  .inlineWidget
    margin: 0
  .activitiesWidget
    font-size: 13px
    .older
      margin-left: 10px !important
  .inlineWidget
    margin: 0px
  .logout
    display: none
  .bottom .logout
    display: inline
  em
    font-style: italic
  .topnav .current
    font-weight: bold
  .activitiesWidget .icons a:hover .text
    display: none
  ul#network-list
    width: 150px

/*
 * Dropdowns

ul#signal_network-list
  width: 150px

.mobile ul.dropdownOptions
  position: absolute
  display: none
  z-index: 3500
  /* above the signalthis iframe
  display: block
  background-color: #FFF
  padding: 0
  margin: 0
  text-align: left
  width: 120px
  border: 1px solid black
  border-top: none
  li
    display: block
    list-style: none
    margin: 0
    border-top: 1px solid black
    overflow: hidden
  a
    white-space: nowrap
    display: inline-block
    /* Styles that are inherited in widgets:
    padding: 8px
    font-size: 13px
    width: 100%
    font-family: arial, helvetica, sans-serif
  li:hover
    background-color: #F4F0CB

/* Hovered option

ul.dropdownOptions li.hover
  background-color: #F4F0CB

.mobile ul.dropdownOptions li:hover a, ul.dropdownOptions li.hover a
  text-decoration: underline

/* Selected option

.mobile
  ul.dropdownOptions li
    &.selected
      background-color: #F4F0CB
    &.disabled
      background-color: #FFF
      a
        color: #CCC
        cursor: default
        text-decoration: none
        &:hover
          text-decoration: none
  .activitiesWidget
    .permalink .event_list .event
      .outerEventText .signal_body
        font-size: 15px
      .replies .signal_body
        font-size: 13px
    .type
      left: -2
      top: 32px
      font-size: 10px
    .event_list .event .indented
      margin-right: 0px !important
    .toolbar, .assetIcon
      display: none !important

/* Disabled option

/* Disabled option's link
