<img class="asset-icon" src="/static/images/icons/conversation-black-25.png" />
"[% signal.body %]"
<a target="_blank" class="ago" href="[% signal.uri %]">[%- PROCESS activities/ago.tt2 at=signal.at -%]</a>
