<html>
<head>
 <title>[% loc('Your email address has been confirmed') %]</title>
</head>

<body>

<p>
[% loc('Hello,') %]
</p>

[% IF target_workspace %]
<p>
[% SET escaped_str = title | html %]
[% loc('You have confirmed your email address and can now log on to the [_1] workspace.', escaped_str ) %]
</p>

<p>
[% loc('To do so, go to this web address:') %] <a href="[% uri | html %]">[% uri | html %]</a>
</p>

<p>
[% loc('Log in with your email address:') %] [% user.email_address %]
</p>
[% ELSE %]
<p>
[% SET escaped_str = app_name | html %]
[% loc('You have confirmed your email address and can now log on to the [_1] application.', escaped_str ) %]
</p>

[% IF groups.size > 0 %]
<p>[% loc('You are a member of the following groups:') %]</p>
<ul>
[% FOREACH group IN groups %]
    <li><a href="[% group.uri | html %]">[% group.name | html %]</a>
[% END %]
</ul>
[% ELSE %]
<p>[% loc('You are a member of the following workspaces:') %]</p>
<ul>
[% FOREACH workspace IN workspaces %]
    <li><a href="[% workspace.uri | html %]">[% workspace.title | html %]</a>
[% END %]
</ul>
[% END %]

<p>
[% loc('Log in with your email address:') %] [% user.email_address %]
</p>
[% END %]

<p>
[% loc('You may want to keep this email for future reference.') %]
[% loc('If you have questions, please ') %]
<a href="[% support_address | html %]">
  [% loc('Contact Support') %]</a>.
</p>

[% PROCESS 'email/standard-footer.html'
   support_link = 0 %]

</body>
</html>
