[%# @COPYRIGHT@ -%]
[%- USE date -%]
[%- USE label_ellipsis -%]
[%- calc = date.calc -%]
[%- email_date = calc.Time_to_Date() -%]
[%- MACRO ago_text(epoch_seconds) BLOCK -%]
  [%- SET escaped_timestamp = page.time_for_user | html %]
  [%- edit_date = calc.Time_to_Date(epoch_seconds) -%]
  [%- delta = calc.Delta_Days(edit_date.0, edit_date.1, edit_date.2, email_date.0, email_date.1, email_date.2) -%]
  [%- IF delta == 0 -%][% loc('today at [_1]', escaped_timestamp) -%]
  [%- ELSIF delta == 1 -%][% loc('yesterday at [_1]', escaped_timestamp) %]
  [%- ELSE -%][% loc('[_1] days ago', delta) %]
  [%- END -%]
[%- END -%]

<div class="st-page-detail">
  <div class="st-page-name">
    <a href="[% workspace.uri %]?[% page.uri %]">[% page.metadata.Subject %]</a>
  </div>
  [%- IF include_editor %]
    [%- username    = (user.username == page.last_edited_by.username) ? loc('you') : page.last_edited_by.best_full_name(workspace=>workspace) -%]
    [%- action      = (page.metadata.Revision == 1) ? loc('Created by') : loc('Last edited by') -%]
    [%- edit_time   = ago_text(page.modified_time) -%]
    [%- profile_uri = base_profile_uri _ page.last_edited_by.user_id -%]
    <div class="st-page-editor">
      [% loc('[_1] <a href="[_2]">[_3]</a> [_4]', action, profile_uri, username, edit_time) %]
    </div>
    <div class="st-page-edit-summary">
      [%- IF page.edit_summary %]
        [%- edit_summary = ((page.edit_summary == '(comment)') ? page.last_comment.summary : page.edit_summary) -%]
        [% edit_summary | label_ellipsis(edit_summary_maxlength) %]
      [%- END %]
    </div>
  [%- END %]
</div>
