[%# @COPYRIGHT@ -%]

[% IF extra_text %]
[% extra_text -%]
[% END %]

[% SET escaped_str_1 =  workspace_title | html %]
[% SET escaped_str_2 =  workspace_uri | html %]
[% SET escaped_str_3 =  username | html %]
<p>
[% loc('email.hi') %]
</p>

<p>
[% loc("email.inviting-you-to-join=wiki",  escaped_str_1) %]

[% UNLESS requires_confirmation %]
[% loc('email.sign-in-using-information-below:') %]
<p>
[% loc('email.web-address:') %] <a href="[% escaped_str_2 %]">[% escaped_str_2 %]</a><br />
[% loc('email.username:') %] [% escaped_str_3 %]
</p>

[% loc('You can sign into our system using OpenID. On the Socialtext login screen, please input your OpenID into the indicated field and you will be redirected to the OpenID site to verify your identity. Once you have verified your identity, you will be sent back to the Socialtext site and be able to access the workspace.') %]

<p>
[% loc('email.keep-this-for-future-reference') %]
</p>
[% END %]

<p>
[% loc('email.thanks') %]
</p>

<p>
[% inviting_user %]
</p>

[% PROCESS 'email/standard-footer.html'
   support_link = 1 %]
