[%# @COPYRIGHT@ -%]
[% PROCESS lite/header.html %]
[% MACRO user_link BLOCK %]
    [% name | decorate('user_link') %]
[% END %]

<div class="content">
    [% page_html %]
</div>
<div class="pageinfo">
    [% SET author = user_link(name=page.last_edited_by.user_id) %]
    [% SET time = page.datetime_for_user %]
    [% loc('Page Last Updated: [_1] by [_2]', time, author) %]
    [% IF attachments.size %]
        <div class="attachments">
            <p>[% loc('Attachments for this page:') %]</p>
            <ul>
                [% FOREACH row = attachments %]
                    <li><a rel="external" href="/data/workspaces/[% ws.name %]/attachments/[% page.uri %]:[% row.id %]/original/[% row.filename | uri %]">[% row.filename | html %]</a></li>
                [% END %]
            </ul>
        </div>
    [% END %]
</div>
            
[% PROCESS lite/footer.html %]
