<div class="lightbox" id="st-edit-check">
  <h3>[% loc('Edit Warning') %]</h3>

  <p>[% loc('[_1] has opened this page for editing [_2].', user_link, time_ago) %]</p>

  [% user_business_card %]

  <ul class="buttons">
    <li class="flexButton"><a href="#" class="continue">[% loc('Edit Anyway') %]</a></li>
    <li class="flexButton"><a href="#" class="close">[% loc('Return to Page View') %]</a></li>
  </ul>
</div>

