<p>[% loc('You must be a member of one of the groups that have access to this workspace. Please select which group(s) you want to join below.') %]</p>

<br />

<ul>
[% FOR group = groups %]
  <li class="group-selector">
    <input type="checkbox" name="join-group-[% group.group_id %]"
           value="[% group.group_id %]" />
    <a target="_blank" href="/st/group/[% group.group_id %]">
      <span class="group-name">[% group.name %]</span>
    </a>
  </li>
[% END %]
</ul>
