body {
    font-size: 10pt;
    font-family: Helvetica, Arial, sans-serif
}
div.clear {
	clear: both;
}

.wiki-include-page {
    border-left: 1px solid #80a9f3;
    padding: 0px 10px 0px 5px;
    margin-left: 12px;
}

.bold {
    font-weight: bold;
}

.logo {
    background: url('../images/miki-logo.png') #17417F 5px no-repeat;
    width: 100%;
    height: 45px;
}

.globalnav {
    background-color: #CEECFE;    
    border-bottom: 1px solid #666;
    padding: 3px 2px;
}
.globalnav.bottom {
    border-top: 1px solid #666;
}
.subnav {
    background-color: #ddd;    
    padding: 3px 2px;
    border-bottom: 1px solid #666;
}

.paging {
    border-top: 1px solid #666;
    background-color: #ddd;    
    padding: 3px 2px;
}

.tabs {
    border-bottom: 1px solid #666;
    background-color: #ddd;    
    padding: 3px 2px;
}

.tabs .current {
    font-weight: bold;
}

.feeds {
    padding: 3px 2px;
}

.pageinfo {
    padding: 3px 2px;
    border-top: 1px solid #666;
    background-color: #DDD;
    padding-bottom: 5px;
}

.pageinfo ul, .pageinfo p{
    margin: 0;
}

.event_list {
    width: 100%;
    margin: 5px 0;
    padding: 0;
    border-collapse: collapse;
}
.event_list li {
    border-top: 1px solid #666;
    padding: 5px 0 3px 0;
}
.event_list li.first {
    border-top: none;
}
.event_list img.avatar {
    float: left;
}
.event_list .metadata, .event_list .eventText {
    margin-left: 35px;
}
.event_list li {
    position: relative;
}
.event_list img.asset-icon {
    position: absolute;
    right: 0;
    top: 5px;
}
.event_list .ago {
    font-style: italic;
    color: #666;
    white-space: nowrap;
}

.postsignal {
    margin-top: 10px;
    border-bottom: 1px solid #666;
}
.postsignal form {
    padding: 0;
    margin: 0;
}
.postsignal textarea {
    width: 300px;
}

.profile {
    padding-top: 10px;
}
.profile img.avatar {
    float: left;
    margin-right: 5px;
    border: 1px solid #666 !important;
}
.profile .info {
    padding-bottom: 10px;
    padding-left: 70px;
    height: 75px;
}
.profile .section {
    border-bottom: 1px solid #666;
    padding-bottom: 10px;
}
.profile .section.last {
    border-bottom: none;
}

