.wiki, .xhtml {
  padding: 0 !important;
  line-height: normal !important;
  font-size: 12px !important; }
  .wiki ol, .wiki ul, .xhtml ol, .xhtml ul {
    padding-left: 25px; }
  .wiki ol, .xhtml ol {
    list-style: decimal outside none; }
  .wiki ul, .xhtml ul {
    list-style: disc outside none; }
    .wiki ul ul, .xhtml ul ul {
      list-style-type: circle; }
  .wiki ol ul, .xhtml ol ul {
    list-style-type: circle; }
  .wiki ol ol ul, .wiki ol ul ul, .xhtml ol ol ul, .xhtml ol ul ul {
    list-style-type: square; }
  .wiki ul ol ul, .wiki ul ul ul, .xhtml ul ol ul, .xhtml ul ul ul {
    list-style-type: square; }
  .wiki li, .xhtml li {
    padding: 3px 0px; }
  .wiki table td, .wiki th, .xhtml table td, .xhtml th {
    vertical-align: top; }
  .wiki table.st-ss td, .wiki table.st-ss th, .xhtml table.st-ss td, .xhtml table.st-ss th {
    vertical-align: inherit; }
  .wiki p, .wiki li, .xhtml p, .xhtml li {
    font-size: 12px !important; }
  .wiki td, .xhtml td {
    font-size: 12px; }

.wiki p, .wiki li {
  line-height: 15px; }
.wiki td {
  line-height: 15px; }

.xhtml p, .xhtml li {
  line-height: normal !important; }
.xhtml td {
  line-height: normal !important; }

#st-revision-display {
  font-size: 12px !important;
  line-height: 15px; }

div#contentColumns div#contentLeft .wiki p {
  line-height: normal; }

.wiki a:visited, .xhtml a:visited {
  color: #551a8b; }

html .wiki a:hover, html .xhtml a:hover {
  color: #33a8ff; }

.wiki h1, .wiki h2, .wiki h3, .wiki h4, .wiki h5, .wiki h6, .xhtml h1, .xhtml h2, .xhtml h3, .xhtml h4, .xhtml h5, .xhtml h6 {
  font-weight: normal;
  color: #0a94df;
  line-height: 1.2 !important; }
.wiki h1, .xhtml h1 {
  font-size: 2em;
  margin-bottom: 0.5em; }
.wiki h2, .xhtml h2 {
  font-size: 1.7em;
  margin-bottom: 0.75em; }
.wiki h3, .xhtml h3 {
  font-size: 1.4em;
  margin-bottom: 0.5em; }

div#contentColumns div#contentLeft .wiki h3 {
  font-size: 1.4em;
  margin-bottom: 0.5em; }

.wiki h4, .xhtml h4 {
  font-size: 1.2em;
  margin-bottom: 0.5em; }
.wiki h5, .xhtml h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5em; }
.wiki h6, .xhtml h6 {
  font-size: 1em;
  font-weight: bold; }
.wiki h1 img, .wiki h2 img, .wiki h3 img, .wiki h4 img, .wiki h5 img, .wiki h6 img, .xhtml h1 img, .xhtml h2 img, .xhtml h3 img, .xhtml h4 img, .xhtml h5 img, .xhtml h6 img {
  margin: 0; }
.wiki p, .xhtml p {
  margin-bottom: 1.2em !important;
  margin-top: 0 !important; }
  .wiki p img.left, .xhtml p img.left {
    padding: 0;
    border: 1px #999999 solid;
    margin: 1.5em;
    float: left;
    margin: 1.5em 1.5em 1.5em 0; }
  .wiki p img.right, .xhtml p img.right {
    float: right;
    margin: 1.5em 0 1.5em 1.5em; }
.wiki span.nlw_phrase img, .xhtml span.nlw_phrase img {
  float: none;
  margin: 0px;
  vertical-align: baseline; }
.wiki blockquote, .xhtml blockquote {
  margin: 1em 0px 1em 40px; }
.wiki strong, .xhtml strong {
  font-weight: bold; }
.wiki em, .xhtml em {
  font-style: italic; }
.wiki dfn, .xhtml dfn {
  font-style: italic;
  font-weight: bold; }
.wiki sup, .wiki sub, .xhtml sup, .xhtml sub {
  line-height: 0; }
.wiki abbr, .wiki acronym, .xhtml abbr, .xhtml acronym {
  border-bottom: 1px dotted #666666; }
.wiki address, .xhtml address {
  margin: 0 0 1.5em;
  font-style: italic; }
.wiki del, .wiki strike, .xhtml del, .xhtml strike {
  color: #666666; }
.wiki pre, .wiki code, .xhtml pre, .xhtml code {
  margin: 1.5em 0;
  white-space: pre; }
.wiki pre, .wiki code, .wiki tt, .xhtml pre, .xhtml code, .xhtml tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5; }

.wiki table {
  border-collapse: collapse;
  width: auto;
  margin-left: 1px; }
  .wiki table.st-ss {
    border-collapse: inherit;
    margin-bottom: inherit;
    width: inherit; }
  .wiki table th {
    font-weight: bold;
    background: #cccccc; }
  .wiki table.st-ss th {
    font-weight: inherit;
    background: inherit; }
  .wiki table th, .wiki table td {
    border: 1px solid black;
    padding: 0.2em; }
  .wiki table.st-ss th, .wiki table.st-ss td {
    border: inherit;
    padding: inherit;
    font-size: inherit;
    line-height: inherit; }
  .wiki table.borderless th, .wiki table.borderless td {
    border: none;
    padding: 0.2em; }
  .wiki table tr.even td {
    background: #e5ecf9; }
  .wiki table tfoot {
    font-style: italic; }
  .wiki table caption {
    background: #eeeeee; }
  .wiki table.st-ss tr.even td {
    background: inherit; }
  .wiki table.st-ss tfoot {
    font-style: inherit; }
  .wiki table.st-ss caption {
    background: inherit; }

.xhtml table.formatter_table {
  border-collapse: collapse;
  width: auto;
  margin-left: 1px; }
  .xhtml table.formatter_table.st-ss {
    border-collapse: inherit;
    margin-bottom: inherit;
    width: inherit; }
  .xhtml table.formatter_table th {
    font-weight: bold;
    background: #cccccc; }
  .xhtml table.formatter_table.st-ss th {
    font-weight: inherit;
    background: inherit; }
  .xhtml table.formatter_table th, .xhtml table.formatter_table td {
    border: 1px solid black;
    padding: 0.2em; }
  .xhtml table.formatter_table.st-ss th, .xhtml table.formatter_table.st-ss td {
    border: inherit;
    padding: inherit;
    font-size: inherit;
    line-height: inherit; }
  .xhtml table.formatter_table.borderless th, .xhtml table.formatter_table.borderless td {
    border: none;
    padding: 0.2em; }
  .xhtml table.formatter_table tr.even td {
    background: #e5ecf9; }
  .xhtml table.formatter_table tfoot {
    font-style: italic; }
  .xhtml table.formatter_table caption {
    background: #eeeeee; }
  .xhtml table.formatter_table.st-ss tr.even td {
    background: inherit; }
  .xhtml table.formatter_table.st-ss tfoot {
    font-style: inherit; }
  .xhtml table.formatter_table.st-ss caption {
    background: inherit; }

.wiki, .xhtml {
  /* {bz: 1445}: Gecko needs this to show left border of collapsed tables. */
  padding-left: 1px; }
  .wiki .small, .xhtml .small {
    font-size: 0.8em;
    margin-bottom: 1.875em;
    line-height: 1.875em; }
  .wiki .large, .xhtml .large {
    font-size: 1.2em;
    line-height: 2.5em;
    margin-bottom: 1.25em; }
  .wiki .hide, .xhtml .hide {
    display: none; }
  .wiki .quiet, .xhtml .quiet {
    color: #666666; }
  .wiki .loud, .xhtml .loud {
    color: black; }
  .wiki .highlight, .xhtml .highlight {
    background: yellow; }
  .wiki .added, .xhtml .added {
    background: #006600;
    color: white; }
  .wiki .removed, .xhtml .removed {
    background: #990000;
    color: white; }
  .wiki .first, .xhtml .first {
    margin-left: 0;
    padding-left: 0; }
  .wiki .last, .xhtml .last {
    margin-right: 0;
    padding-right: 0; }
  .wiki .top, .xhtml .top {
    margin-top: 0;
    padding-top: 0; }
  .wiki .bottom, .xhtml .bottom {
    margin-bottom: 0;
    padding-bottom: 0; }
  .wiki:first-child, .xhtml:first-child {
    padding-top: 1em; }
  .wiki a.incipient, .wiki .wafl_existence_error, .xhtml a.incipient, .xhtml .wafl_existence_error {
    border-bottom: 1px #25a800 dashed;
    color: #25a800; }
  .wiki a.incipient:hover, .wiki .wafl_existence_error:hover, .xhtml a.incipient:hover, .xhtml .wafl_existence_error:hover {
    color: #d82500;
    text-decoration: none;
    border-bottom: 1px #d82500 solid; }
  .wiki .wafl_box, .wiki .fetchrss_box, .xhtml .wafl_box, .xhtml .fetchrss_box {
    background: white;
    color: inherit;
    padding: 0 0 3px 0;
    margin-bottom: 0;
    border: 2px solid #d6d6d6; }
  .wiki .wafl_titlebox, .wiki .fetchrss_titlebox, .xhtml .wafl_titlebox, .xhtml .fetchrss_titlebox {
    background: #efefef;
    font-size: 120%;
    padding: 0.5em;
    margin-bottom: 0.25em;
    border-bottom: 2px solid #d6d6d6; }
  .wiki .wafl_titlebox a, .wiki .fetchrss_titlebox a, .xhtml .wafl_titlebox a, .xhtml .fetchrss_titlebox a {
    font-weight: normal; }
  .wiki .wafl_items, .wiki .fetchrss_items, .xhtml .wafl_items, .xhtml .fetchrss_items {
    padding: 0 1em 0 1em; }
  .wiki ul.item_list, .xhtml ul.item_list {
    list-style-type: none;
    margin-left: 0; }
    .wiki ul.item_list li.item a, .xhtml ul.item_list li.item a {
      font-weight: inherit; }
  .wiki ul.fetchrss_items li.fetchrss_item a, .xhtml ul.fetchrss_items li.fetchrss_item a {
    font-weight: inherit; }
  .wiki ul.item_list li.item p.snippet, .wiki ul.fetchrss_items li.fetchrss_item p.fetchrss_description, .xhtml ul.item_list li.item p.snippet, .xhtml ul.fetchrss_items li.fetchrss_item p.fetchrss_description {
    margin-top: 0.25em !important; }

.wafl_box .wafl_items .wiki ul, .wafl_box .wafl_items ul.item_list {
  margin: 0 1.5em 0 1.5em;
  padding: 0 0 0 7px; }

.wiki ul.fetchrss_items {
  margin: 0 1.5em 0 1.5em;
  padding: 0 0 0 25px; }

.wafl_box .wafl_items ul.item_list li {
  list-style-type: disc;
  line-height: 1em;
  padding: 0; }

div.fetchrss_box ul.fetchrss_items {
  margin-bottom: 0px; }
div#contentColumns div#contentLeft div.wafl_box div.wafl_items ul.item_list li p {
  line-height: 1em; }

.wafl_box .wafl_items .wiki {
  padding: 0; }
  .wafl_box .wafl_items .wiki br {
    display: none; }

td .wafl_box {
  margin-bottom: 0; }

.wiki .wiki-include-page {
  margin: 0 0 1em 0;
  padding: 1em 0 1em 0;
  background: white url(../images/includeTile.png) repeat-y scroll top left;
  border: none; }
.wiki .wiki-include-title {
  font-size: 150%;
  margin-left: 1.33em;
  margin-bottom: 0.5em; }
  .wiki .wiki-include-title a {
    color: #33a8ff;
    font-weight: normal; }
    .wiki .wiki-include-title a.incipient {
      color: #fc6500; }
.wiki .wiki-include-content {
  margin-left: 2em; }
.wiki table.sort td.header {
  padding-right: 24px !important;
  background-position: top right;
  background-repeat: no-repeat;
  background-image: url(../images/unsorted.png);
  background-color: #eeeeee; }
  .wiki table.sort td.header.headerSortUp {
    background-image: url(../images/sorted-up.png); }
  .wiki table.sort td.header.headerSortDown {
    background-image: url(../images/sorted-down.png); }
  .wiki table.sort td.header:hover {
    background-image: url(../images/unsorted-hover.png); }
  .wiki table.sort td.header.headerSortUp:hover {
    background-image: url(../images/sort-up-hover.png); }
  .wiki table.sort td.header.headerSortDown:hover {
    background-image: url(../images/sort-down-hover.png); }
.wiki .syntaxhighlighter {
  overflow-y: hidden !important; }
  .wiki .syntaxhighlighter .toolbar {
    display: none !important; }
.wiki ul.waflWidget {
  list-style: none;
  margin: 0;
  padding: 0; }
  .wiki ul.waflWidget .widgetHeaderButtons {
    display: none; }
.wiki div.widget div.widgetHeaderTitle {
  font-size: 11px;
  padding-left: 12px;
  padding-top: 6px;
  font-weight: bold;
  white-space: nowrap; }
  .wiki div.widget div.widgetHeaderTitle img {
    display: none; }
