[%# @COPYRIGHT@ -%]
[% PROCESS lite/header.html %]
<div data-role="header" data-inline="true" data-position="inline" data-theme="c">
    <h4>Search [% ws.title %]</h1>
</div>
    <form name="searchform"
        method="get"
        action="/m/search/[% ws.name %]"
        enctype="application/x-www-form-urlencoded">
    <div class="search" data-role="fieldcontain">
        <input name="search_term" data-inline="true" type="search" value="[% search_term | html %]" />
        <input data-inline="true" name="search" value="Search" type="submit" />
    </div>
    </form>
[% IF search_error %]
<div>[% loc("Error:") %] [% search_error %]</div>
[% END %]
[% PROCESS lite/page_list.html %]
[% PROCESS lite/footer.html %]
