[%# @COPYRIGHT@ -%]
[% PROCESS lite/header.html %]
[% IF tags %]
    <div data-role="header" data-inline="true" data-position="inline" data-theme="d">
    <h4>[% loc("All tags", ws.title) %]</h4>
    </div>
    <ul data-role="listview">
        [% FOREACH tag = tags %]
            <li><a href="/m/tag/[% ws.name %]/[% tag | uri | html %]">[% tag | html %]</a></li>
        [% END %]
    </ul>
[% ELSE %]
        [% SET escaped_str = tag | html %]
    <ul data-role="listview">
        <li data-role="list-divider">[% loc("Tag: [_1]", escaped_str) %]</li>
    </ul>
        [% PROCESS lite/page_list.html %]
[% END %]
[% PROCESS lite/footer.html %]

