<div id="leave-group-dialog">
    [% IF selfJoin %]
        <div>[% loc("Are you sure you'd like to leave this group?") %]</div>
    [% ELSE %]
        <div>[% loc('groups.confirm-leave?') %]</div>
    [% END %]
    <div class="error" id="group-error"></div>
</div>
