[%# @COPYRIGHT@ -%]

[% IF extra_text %]
[% extra_text -%]
[% END %]

<p>
[% loc('Hi,') %]
</p>

<p>
[% SET acct_name = group_name | html %]
[% loc("I'm inviting you to join the [_1] group at [_2].", acct_name, host) %]
[% UNLESS requires_confirmation %]
[% loc('Sign in using the information below:') %]
[% END %]
</p>

[% IF requires_confirmation %]
<p>
[% SET confirm_uri = confirmation_uri | html %]
[% loc('Please <a href="[_1]">click on this link</a> to confirm your email address.', confirm_uri) %]
</p>

<p>
[% loc('Once you have confirmed your account, you will receive a second email with login details.') %]
</p>
[% ELSE %]
<p>
[% loc('web address:') %] <a href="[% group_uri | html %]">[% group_uri | html %]</a><br />
[% loc('username:') %] [% username | html %]
</p>

[% END %]

<p>
[% loc('Thanks,') %]
</p>

<p>
[% inviting_user %]
</p>

[% PROCESS 'email/standard-footer.html'
   support_link = 1 %]
